<div class="sidebar">
  
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>
    <nav class="sidebar-nav">
      
      <a class="sidebar-nav-item{% if page.title == "Home" %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>
      <a class="sidebar-nav-item{% if page.title == "Projects" %} active{% endif %}" href="{{ site.baseurl }}/projects">Projects</a>
      <a class="sidebar-nav-item" href="public/resume.pdf">Resume</a>
    </nav>
    <p>
      <a role="button" href="https://www.linkedin.com/in/jingyi-xie-duke" style="margin-right: 0.5rem; color: rgba(255,255,255,.5);">
        <i class="fab fa-linkedin"></i> Linkedin
      </a>
      <a role="button" href="https://github.com/jingyi-xie" style="color: rgba(255,255,255,.5);">
        <i class="fab fa-github"></i> GitHub
      </a>
    </p>
  </div>
</div>
