<div class="sidebar">
  <a role="button" href="https://jingyi-xie.com/old-version/" target="_blank" style="color: rgba(255,255,255,.5); font-size: medium; margin-left: 1rem;">
    <i class="fas fa-undo"></i> Old website
  </a>
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>
    <nav class="sidebar-nav">
      
      <a class="sidebar-nav-item{% if page.title == "Home" %} active{% endif %}" href="/">Home</a>
      <a class="sidebar-nav-item{% if page.title == "Projects" %} active{% endif %}" href="/projects">Projects</a>
      <a class="sidebar-nav-item" target="_blank" href="/public/resume.pdf">Resume</a>
    </nav>
    <p>
      <a role="button" href="https://www.linkedin.com/in/jingyi-xie-duke" target="_blank" style="margin-right: 0.5rem; color: rgba(255,255,255,.5);">
        <i class="fab fa-linkedin"></i> Linkedin
      </a>
      <a role="button" href="https://github.com/jingyi-xie" target="_blank" style="color: rgba(255,255,255,.5);">
        <i class="fab fa-github"></i> GitHub
      </a>
    </p>
  </div>
</div>
